.itemList
	flex-grow: 1
	flex-basis: 8em
    

.itemList label{
    display:inline-block;
    width: 9em;
    border-bottom: 1px dotted transparent;
}
.itemList label:hover{
    border-color: #ccc;    
    
}
.itemList [type="checkbox"]{
	display: inline-block
}
.agenda
	display: flex
	flex-direction: row
	flex-wrap:wrap
	justify-content: space-between
	align-items: flex-start