html
	font-size: rem(1)
	background: #2e2f32

body
	color: txtBodyBlack
	font-size: rem(1)
	line-height: phi
	padding: 0 0 0 0
	background: white

h1, h2, h3, h4, h5, h6, p
	color: txtBodyBlack
	line-height: phi

h1, h2, h3, h4, h5, h6, strong, th
	font-weight: bold
h1, .h1
	font-size: 1.618em
h2, .h2
	font-size: 1.25em
	color: txtNavGray
h3, .h3
	font-size: 1.15em
	color: txtBodyOrange
h4, .h4
	font-size: ptToEm(16)
	color: txtBodyBlue
h5, h6, .h5, .h6
	font-size: ptToEm(14)

p
	color: txtBodyBlack
	margin: unit(fi, 'em') 0

header, main, footer
	padding: 0 lofi()
a
	color: txtLink
	text-decoration: none
	transitionize()
	&:hover, &:focus, &:active
		text-decoration: underline
		transitionize()
legend
	font-size: 1em
	line-height: 1

form
	border: none
	outline: none
	padding: 0 .25em
fieldset, input, button, label, legend
	transitionize()

fieldset, .fieldset
	border: .125em solid rgb(225, 225, 225)
	border-radius: borderRadiusSmall
input, button
	font-size: 1em
	line-height: 1.618
	padding: 0 .25em
	height: 2em
	margin: 0
	border: .125em solid txtBodyBlack
	border-radius: borderRadiusLarge
	&:hover, &:focus
		outline: none
		transitionize()
[type="text"],
[type="tel"],
[type="search"],
[type="email"],
[type="password"], .input
	padding: 0 .25em
	input()

button, .button
	height: 2em
	button()


table
	border: .325em solid tableBorder
	width: 100%
	th, td
		text-align: left
	thead
		border-bottom: .125em solid tableBorder
		th
			font-size: 1.25em
	th
		font-weight: bold
	tbody
		background: tableBodyBackground
		tr:nth-child(even)
			background: tableRowEven
		tr:nth-child(odd)
			background: tableRowOdd
.hidden
	visibility: collapse




