<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Add skill</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="assets/css/flex.main.css">
        <script src="assets/js/lib/modernizr-2.6.2.min.js"></script>
        <script src="assets/js/lib/angular.js"></script>
        <script src="app/angles.js"></script>

    </head>
    <body>
        <header class="globalHeader">
            <div class="globalHeader__branding" data-ng-controller="website.globalHeader">
                <h1 class="globalHeader__branding__siteTitle">
                    <img ng-src="{{siteTitle}} "/>
                </h1>
                <h2 class="globalHeader__branding__subTitle">
                    {{subHead}}
                </h2>
            </div>
            <form class="globalHeader__search">
                <button class="globalHeader__search__submit">Search</button>
                <input type="search" class="globalHeader__search__input" placeholder="search"/>
            </form>
            <nav class="globalHeader__topNav nav nav--horizontal">
                <ul class="nav__list" data-ng-controller="website.navigation">
                    <li class="nav__list__item" data-ng-repeat="page in topNav">
                        <a class="nav__list__item__link" href="{{page.url}}">{{page.title}}</a>
                    </li>
                </ul>
            </nav>

        </header>
        <main class="main">
            <aside class="main__sidebar sidebar sidebar--left">
                <h1 class="main__sidebar__title">
                    Demo Pages
                </h1>
               <nav class="sidebar__nav nav nav--vertical">
                    <ul class="nav__list" data-ng-controller="website.navigation">
                        <li class="nav__list__item" data-ng-repeat="page in leftNav">
                            <a class="nav__list__item__link" href="{{page.url}}">{{page.title}}</a>
                        </li>
                    </ul>
                </nav> 
            </aside>
            <section class="main__content content">
                <div class="content__wrap">
                    <header class="content__header">
                        <h1 class="content__header__title">Add a new skill</h1>
                    </header>
                    <article class="content__article">
                        <table class="skillTree" >
                            <thead class="skillTree__head">
                                <tr class="skillTree__head__tr" ng-controller="skillFactory.getSkillNames">
                                    <th class="skillTree__th">
                                        Name
                                    </th>
                                    <th class="skillTree__th"></th>
                                    <th ng-repeat="skill in skills">
                                        {{skill.name}}
                                    </th>
                                </tr>
                            </thead>
                     
                        </table>
                    </article>
                </div>
            </section>
        </main>
        <footer class="globalFooter" ng-controller="globalIncludes">
            <div class="globalFooter__wrapper" ng-include="footer"></div>
        </footer>
        <div class="scriptFooter">
            <script type="text/javascript" src="app/controllers.js"></script>
        </div>
    </body>
</html>
