//========== root values
phi = 1.618
fi = .618
golden = 1.61803398875

rootPx = 16px
rootEm = 1em
rootPercent = 100%
rootPt = pxToPt(rootPx)

//========== font functions
hifi()
	unit(phi, 'em')
lofi()
	unit(fi, 'em')
rem(n)
	rootEm * n

pxToPt(n)
	unit(.75 * n,pt)

ptToPx(n)
	ceil(unit(n * 1.333333333,px))

ptToEm(n)
	unit(ptToPx(n) / rootPx,em)

emToPx(n)
	unit(n * 16,px)

pxToEm(n)
	unit(n/rootEm,em)

emToPercent(n)
	(n/rootEm)%

//========== variables
//===== fonts
baseFont = arial, sans-serif
//1px == .75pt
pt12 = 1em
pt13 = 1.063em
pt14 = 1.188em
pt16 = 1.313em
pt22 = 1.876em
pt24 = 2em
pt36 = 3em

//===base colors
white = #fff
lightBlack = #231f20
darkBlue = #1A3d6e
liteBlue = #047CC0
liteGray = #BBBDC0
medGray1 = #939597
medGray2 = #808284
darkGray = #58585b

//=== borders and backgrounds
bgPromoSliderBlack = lightBlack
borderInputBlack = lightBlack
bgButtonBlue = rgb(4, 124, 192)
borderButtonBlue = rgba(4, 124, 192, 1)
makeTransparent(theColor)
	rgba(theColor,.9)

//=== text colors
txtBodyOrange = #f27321
txtBodyBlack = lightBlack
txtBodyGray = medGray1
txtBodyBlue = darkBlue
txtHeaderBlue = darkBlue
txtLinkBlue = #047CC0
txtInputGray = medGray2
txtNavGray = darkGray
txtLink = rgb(4, 124, 192)
txtLinkHover = txtLink


//=== form colors
inputBorder = .125em solid rgba(4, 124, 192, 1)
inputHoverBorder = rgba(5, 154, 240,1)
inputBackground = white
inputColor = liteGray
inputHoverColor = medGray1
inputActiveColor = txtBodyBlack
buttonColor = white
buttonBorder = .125em solid rgba(4, 124, 192, 1)
buttonBackground = rgb(4, 124, 192)
buttonHoverBackground = rgb(5, 154, 240)


//=== table colors
tableBorder = gray
tableBodyBackground = rgb(240, 245, 235)
tableRowEven = rgba(240, 245, 235, .9)
tableRowOdd = rgba(255, 255, 255, .5)
//Unique UI elements
treeHeadingColor = rgba(30, 30, 30, .7)
treeHeadingTextShadow = 1px 0px 1px rgba(255, 255, 255, .9)
treeHeadingBackground= rgba(255, 255, 255, .85)
treeHeadingBoxShadow= 0em .125em .1875em rgba(90, 90, 90, .8)
treeHeadingBorderRadius= .325rem

treeListItemBackground= rgba(60, 130, 85, .1)

//CSS3 effects
borderRadiusSmall = .125em
borderRadiusLarge = .25em
//==========effects
transitionize()
	transition: all .3s ease-in-out


//========== Flex box vars
vflex()
	display: flex
	flex-direction: column
hflex()
	display:flex
	flex-direction:row
betweenFlex()
	justify-content: space-between
	align-items: space-between	
verticalFlex()
	vflex()
	betweenFlex()
	flex-wrap: wrap
horizontalFlex()
	hflex()
	betweenFlex()
	flex-wrap: wrap


//==========Complex styles
//=====forms
input()
	color: inputColor
	background: inputBackground
	border: inputBorder
	&:hover
		color: inputHoverColor
		border-color: inputHoverBorder
	&:active, &:focus
		color: inputActiveColor
button()
	background: buttonBackground
	color: buttonColor
	border: buttonBorder
	&:hover
		background: buttonHoverBackground
		border-color: @background	