.tree
	&__list
		display:flex
		flex-direction: row
		justify-content: flex-start
		align-items: stretch
		list-style-type:none
		margin: 0
		padding: 0
		&__item
			flex-grow: 1
			flex-basis: auto
			display:flex
			flex-direction: column
			justify-content: flex-start
			align-items: center
			text-align: center
			font-size: .85em
			margin: .618em 0
			padding: .618em 0
			background: treeListItemBackground
			transitionize()
			&.minimized
				order: -1
				flex-grow: 0
				align-self: flex-start
				transitionize()
			ul
				order: 2
				font-size: .95em
			.tree
				&__list
					flex-direction: row
					width: 100%
					&__item
						align-items:center
			&__controls
				order: 1
				align-self: flex-end
				display:flex
				flex-direction:row
				justify-content: space-between
				width: 1.5rem

			&__heading
				order:2
				color: treeHeadingColor
				text-shadow: treeHeadingTextShadow
				font-size: 1.2em
				line-height: 1.25
				font-weight: normal
				padding: .25rem
				margin: 0
				background: treeHeadingBackground
				border-radius: treeHeadingBorderRadius
				box-shadow: treeHeadingBoxShadow
			&__toggle, &__minimizeToggle
				display:none
			&__delete
				font-size: .5rem
				line-height: 1
				height: 3ex
			&__minimize
				font-size: .5rem
				line-height: 1
				padding: 1px 3px
				button()
				border-radius: borderRadiusLarge

